/* src/components/pay-section/PaySection.css */

.Pay-Section {
    display: flex;
    justify-content: space-between; /* Plasează textele la margini */
    align-items: center;            /* Centrează elementele pe verticală */
  }
  
  .left-text, .right-text {
    font-weight: bold; /* Textul va fi bold */
    font-size: 1.5rem;  /* Textul va fi mai mare */
    margin: 0;          /* Elimină marginile implicite ale paragrafului */
    padding: 0;         /* Elimină padding-ul */
  }
  
  .continue-btn {
    padding: 10px 20px;   /* Adaugă padding pentru buton */
    font-size: 1.5rem;       /* Setează dimensiunea fontului pentru buton */
    cursor: pointer;      /* Modifică cursorul pentru buton */
    background-color: yellow; /* Culoare de fundal galbenă */
    color: black;         /* Culoarea textului pe buton */
    font-weight: bold;    /* Textul butonului va fi bold */
    border: none;         /* Elimină borderul butonului */
    border-radius: 10px;   /* Colțuri rotunjite */
    transition: background-color 0.3s ease; /* Animare la hover */
  }
  
  .continue-btn:hover {
    background-color: #f0ad4e; /* Culoare de fundal galbenă mai închisă la hover */
  }
  
  