.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Opțional, pentru un fundal mai vizibil */
}

.main-container {
  width: 80%;               /* Lățimea chenarului */
  max-width: 500px;          /* Limitează lățimea maximă */
  
  background-color: white;   /* Fundalul alb al containerului */
  border: 3px solid #c3c3c3;    /* Chenarul containerului */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* O umbră pentru efect */
}

.main-container > *:first-child {
  margin: 0;
  margin-bottom: 20px;     
}

.main-container > * {
  padding-left: 30px;             /* Spațiu interior */ 
  padding-right: 30px;             /* Spațiu interior */ 
  margin-bottom: 20px;       /* Spațiu între componente */
}

.main-container > *:last-child {
  margin-bottom: 0;          /* Elimină marginea de jos a ultimei componente */
}